<section class="my-5">
    <div class="container">    
        <div class="row">
            <div class="col-4 col-lg-2">
                <div class="avatar-container">
                    <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/public/img/avatar/default-user.png{{/if}}" id="user-avatar" class="img-fluid avatar" alt="user avatar" width="300">                
                </div>
            </div>
            <div class="col-8 col-lg-10 user-description">
                <h1>{{user.username}}</h1>
                {{#if user.questions}}
                <p>This user posted {{user.questions.length}} {{#greaterThan user.questions.length 1}}post{{else}}question{{/greaterThan}}</p>                
                {{else}}
                <p>This user haven't post any question</p>
                {{/if}}
            </div>
        </div> 
    </div>
</section>

{{#if user.questions}}
<section class="my-5">
    <div class="container">
        <h1>All post</h1>
        <div id="questions-container" class="row questions-container">
            {{#each user.questions}}
            <div class="col-lg-3 col-md-4 col-6 mb-4 question-container">
                <div class="card">
                    <a href="/question/{{_id}}" >
                        <div class="avatar-container">
                            {{#if avatar}}
                            <img src="{{ avatar }}" class="card-img-top" alt="question avatar">
                            {{else}}
                            <img src="/public/img/avatar/default-question.png" class="card-img-top" alt="question avatar">
                            {{/if}}
                        </div>
                        <div class="card-body">
                            <h2 class="card-title display-4 mb-0">{{title}}</h2>
                            <p class="card-text"><span class="card-text-gender">{{gender}}</span> {{type}}</p>
                        </div>
                    </a>
                </div>
            </div>    
            {{/each}} 
        </div>
    </div>   
</section>
{{/if}}