<section class="section">
  <div class="container">
    <h1 class="mb-5">All questions</h1>
    <div class="row">
      {{#each questions}}
      <div class="col-lg-3 col-md-4 col-6 mb-4">
          <div class="card">
              <a href="/dog/{{_id}}" >
                <div class="avatar-container">
                  {{#if avatar}}
                  <img src="{{ avatar }}" class="card-img-top" alt="dog avatar">
                  {{else}}
                  <img src="/public/img/avatar/default-dog.png" class="card-img-top" alt="dog avatar">
                  {{/if}}
                </div>
                <div class="card-body">
                    <h2 class="display-4">{{name}}</h2>
                    <p class="card-text"><span class="card-text-gender">{{gender}}</span> {{type}}</p>
                </div>
              </a>
          </div>
      </div>    
      {{/each}}
    </div>
    {{#pagination totalPage currentPage}}
    <nav>
      <ul class="pagination justify-content-center">
        {{#if @previousPage}}
        <li class="page-item">
          <a class="page-link" href="?page={{@previousPage}}">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only ">Previous page</span>
          </a>
        </li>
        {{/if}}
        
        {{#paginationItem totalPage currentPage}}
        <li class="page-item {{@active}}"><a class="page-link" href="?page={{@page}}" aria-label="go to page {{@page}}">{{@page}}</a></li>
        {{/paginationItem}}

        {{#if @nextPage}}
        <li class="page-item">
          <a class="page-link" href="?page={{@nextPage}}">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next page</span>
          </a>
        </li>
        {{/if}}
      </ul>
    </nav>
    {{/pagination}}
  </div>
</section>

